.contents-container {
  display: flex; /* Используйте flexbox для вёрстки элементов */
  flex-direction: column; /* Вертикальное размещение элементов */
  padding: 20px; /* Отступы вокруг контейнера */
}

.contentpage-title {
  display: flex; /* Используем flexbox для выравнивания элементов заголовка */
  align-items: center; /* Вертикальное выравнивание по центру */
  border: 2px solid #333; /* Цвет и толщина рамки */
  background-color: #4caf50; /* Цвет фона заголовка */
  padding: 10px; /* Отступ внутри рамки */
  border-radius: 5px; /* Закругление углов рамки (по желанию) */
  margin-bottom: 20px; /* Отступ снизу для разделения с содержимым */
  color: white; /* Цвет текста заголовка */
}

.back-button {
  background: none; /* Убираем фон кнопки */
  border: none; /* Убираем рамку кнопки */
  cursor: pointer; /* Указатель на элемент */
  margin-right: 10px; /* Отступ справа для разделения кнопки и заголовка */
}

.back-icon {
  width: 20px; /* Ширина иконки */
  height: 20px; /* Высота иконки */
}

.contents-list {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
}

.content-item {
  background-color: #4caf50; /* Цвет фона */
  border: 1px solid #ddd; /* Рамка */
  color: white; /* Цвет текста */
  border-radius: 4px; /* Закругление углов */
  padding: 10px; /* Отступы внутри элемента */
  margin-bottom: 10px; /* Отступ снизу между элементами */
  transition: background-color 0.3s; /* Плавный переход цвета */
}

.content-item:hover {
  background-color: #45a049; /* Цвет фона при наведении */
}
