/* ContentsPage.css */

.contents-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contentpage-title {
  display: flex;
  align-items: center;
  background-color: #4caf50;
  border: 2px solid #333;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contentpage-title span {
  font-size: 18px;
  font-weight: bold;
}

.back-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.back-icon {
  width: 20px;
  height: 20px;
}

.contents-list {
  margin-top: 20px;
}

.content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: white;
}

.content-item:hover {
  background-color: #45a049;
}

.content-title {
  cursor: pointer;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.add-content-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.new-content-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 70%;
}

.add-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.add-button:hover {
  background-color: #45a049;
}
