.subthemes-container {
  display: flex; /* Используйте flexbox для вёрстки элементов */
  flex-direction: column; /* Вертикальное размещение элементов */
  padding: 20px; /* Отступы вокруг контейнера */
}

.subpage-title {
  display: flex; /* Используем flexbox для выравнивания элементов заголовка */
  align-items: center; /* Вертикальное выравнивание по центру */
  border: 2px solid #333; /* Цвет и толщина рамки */
  background-color: #4caf50; /* Цвет фона заголовка */
  padding: 10px; /* Отступ внутри рамки */
  border-radius: 5px; /* Закругление углов рамки (по желанию) */
  margin-bottom: 20px; /* Отступ снизу для разделения с содержимым */
  color: black; /* Цвет текста заголовка */
}

.back-button {
  display: flex; /* Используем flexbox для кнопки */
  align-items: center; /* Вертикальное выравнивание по центру */
  background: none; /* Убираем фоновый цвет */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Указываем, что элемент кликабельный */
  color: white; /* Цвет текста кнопки */
  margin-right: 10px; /* Отступ справа от кнопки */
}

.back-icon {
  width: 20px; /* Ширина иконки */
  height: 20px; /* Высота иконки */
  margin-right: 5px; /* Отступ справа от иконки */
}

.subthemes-list {
  margin-top: 20px; /* Отступ сверху для разделения с заголовком */
}

.subtheme-item {
  display: flex;
  justify-content: space-between;
  background-color: #4caf50;
  border: 1px solid #ddd;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.subtheme-item:hover {
  background-color: #45a049; /* Цвет фона при наведении на элемент списка */
}

.add-subtheme-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.add-subtheme-container input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 70%;
}

.add-subtheme-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.add-subtheme-container button:hover {
  background-color: #45a049;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.delete-icon {
  width: 20px;
  height: 20px;
}
