/* ThemesPage.css */

.themes-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.subpage-title {
  display: flex;
  align-items: center;
  border: 2px solid #333;
  background-color: #4caf50;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: black;
}

.back-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  margin-right: 10px;
}

.back-icon {
  width: 20px;
  height: 20px;
}

.themes-list {
  margin-top: 20px;
}

.theme-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  border: 1px solid #ddd;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.theme-item:hover {
  background-color: #45a049;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.add-theme-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.add-theme-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 70%;
}

.add-theme-button {
  z-index: 1;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.add-theme-button:hover {
  background-color: #45a049;
}
